---
const PROJECTS = [
    {
        title: "Project 1",
        description: "This is a description of the project 1",
        link: "https://www.google.com",
        github: "https://www.github.com",
        image: "https://via.placeholder.com/150",
        tags: ["React", "TailwindCSS", "JavaScript"],
    }
]
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt={`captura de pantalla del proyecto ${image}`} />
        </article>
    ))
}